<!DOCTYPE html>
<html>
<head>
<title>Temte Wedding</title>
 
</head>
<body style="background-color: #F5E6F3;">

	<h1 style="text-align: center; color: #A18700; font-size: 35px; font-weight: bold;">New RSVP</h1>
	
	<table style="color: #090940; text-align: center; border: 2px solid #A18700; border-collapse: collapse;">
	<tr id="header" style="text-align: center; color: #090940; font-size: 22px; font-weight: bold;">
		<td style=" border: 2px solid #A18700; "><h4>First Name</h4></td>
		<td style=" border: 2px solid #A18700; "><h4>Last Name</h4></td>
		<td style=" border: 2px solid #A18700; "><h4>Ceremony<h4/></td>
		<td style=" border: 2px solid #A18700; "><h4>Reception<h4/></td>
	</tr>