

@media only screen and (max-width: 600px) {


/*containers*/
body {
	padding: 0px;
	margin: 1px;
	background-color: var(--pinklight);

}
.sec1, .sec2 {
	height: auto;
	padding: 5px;
	margin: 0px;
	color: var(--bluedark);
	background-color: var(--pinklight);
	display: none;
	//margin-top: 30px;
}

.l, .r {
	min-height: 200px;
	height: auto;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}



/*images*/
#gallery {
	margin-top: 50px;
	padding-bottom: 0px;
	display: block;
	width: 100%;
}


img {
	max-width: 100%;
}




/*fonts*/
:root {
	font-family: 'MrsEavesPetiteCaps', serif;
	font-family: 'AnnaClaraW00-Regular', cursive;
	--pinklight: #F5E6F3;
	--goldlight: #ECE6BE; 
	--golddark: #A18700;
	--bluedark: #090940;
	--serif: MrsEavesPetiteCaps;
	--script: AnnaClaraW00-Regular;
}

a {
	color: var(--golddark);
	text-decoration: none;
}
.regLinks {
	color: var(--bluedark);
}

h1, h2, h3, h4, h5, h6, p {
		text-weight: normal;
		text-align: center;
		font-family: var(--serif);
}
h1, .menuitem {
	color: var(--golddark);
	font-family: var(--script);
}

h1 {
	font-size: 30px;
	text-weight: normal;
	visibility: hidden;
}

h2 {
	//text-transform: uppercase;
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h4 {
	visibility: hidden;
	
}

p {
	font-size: 20px;
}



/*maps				NOT WORKING*/
.mapouter {
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	//position: absolute;
	text-align: center;
}

.gmap_canvas{
	padding: 0px;
	margin: 0px;
}

iframe {
	 width: 100%;
	 height: 100%;
}

/*menu*/
.m-bar .menuitem {
	font-size: 30px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	vertical-align: center;
}

#menu_bar {
	background-color: var(--bluedark);
	height: 65px;
	text-align: center;
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

 .m-bar .menuitem:not(:first-child) {
    display: none;
  }

.m-bar a.icon {
    float: right;
    display: inline;
	position: fixed;
	right: 10px;
    top: 0;
}
.m-bar.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
.m-bar.responsive .menuitem {
    display: block;
	width: 100%;
    text-align: center;
	background-color: var(--bluedark);
  }
  
  

/*party table*/

#partytable tr td {
	width: 400px;
	//border-style: solid;
}

#partytable {
	margin-left: auto;
	margin-right: auto;
}


/*rsvp table and form*/

#rsvptable{
	display: none;
}

#mobileRSVP {
	text-align:center;
}


form {
	text-align: center;
	font-size: 30px;
}

input[type="submit"] {
	background-color: var(--bluedark);
	color: var(--goldlight);
	border-style: none;
	font-family: var(--serif);
	margin: 5px;
	padding: 5px;
	display: inline;
	width: 50%;
	font-size: 25px;
}

input[type="text"] {
	background-color: var(--goldlight);
	color: var(--bluedark);
	border-style: none;
	font-family: var(--serif);
	margin: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

select {
	background-color: var(--goldlight);
	color: var(--bluedark);
	border-style: none;
	font-family: var(--serif);
	margin: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.rsvpelement {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}

#right {
	text-align:right;
	font-weight: bold;
}

#mobileRSVP p {
	font-size: 25px;
	font-weight: bold;
}


	
	
/* Slideshow container */
.slideshowcontainer {
  //max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
	display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#startslideshow {
	display: block;
}

#ssimage {
	height: 450px;
	width: 700px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--bluedark);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



}
