@media only screen and (min-width: 1000px) {

/*containers*/
body {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	overflow-x: hidden;
	background-color: var(--pinklight);
}
.sec1, .sec2 {
	height: auto;
	padding: 5px;
	padding-bottom: 30px;
	padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
	color: var(--bluedark);
	display: block;
}


.sec1 {
	background-color: var(--pinklight);

}

.sec2 {
	background-color: var(--goldlight);
}


.l, .r {
	min-height: 200px;
	height: auto;
}

.l {
	width: 45%;
	//margin-left: 300px; 
	float: left;
	}

.r {
	width: 45%;
	//margin-right: 300px;
	float: right;
}

#last {
	margin-bottom: 100px;
}


/*images*/
#gallery {
	margin-top: 50px;
	padding: 0px 10px 0px 10px;
	text-align: center;
}


img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}




/*fonts*/
:root {
	font-family: 'MrsEavesPetiteCaps', serif;
	font-family: 'AnnaClaraW00-Regular', cursive;
	--pinklight: #F5E6F3;
	--goldlight: #ECE6BE; 
	--golddark: #A18700;
	--bluedark: #090940;
	--serif: MrsEavesPetiteCaps;
	--script: AnnaClaraW00-Regular;
}

a {
	color: var(--golddark);
	text-decoration: none;
}
.regLinks {
	color: var(--bluedark);
}

h1, h2, h3, h4, h5, h6, p {
		text-weight: normal;
		text-align: center;
		font-family: var(--serif);
}
h1, .menuitem {
	color: var(--golddark);
	font-family: var(--script);
}

h1 {
	font-size: 50px;
	text-weight: normal;
}

h2 {
	//text-transform: uppercase;
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h4 {
	visibility: hidden;
	
}

p {
	font-size: 20px;
}





/*maps*/
.mapouter {
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	margin-bottom: 30px;
}

.gmap_canvas{
	padding: 0px;
	margin: 0px;
	
}

iframe {
	 width: 100%;
	 height: 100%;
}




/*menu*/
.menuitem {
	font-size: 25px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	vertical-align: center;
	display: inline;
}

#menu_bar {
	background-color: var(--bluedark);
	height: 50px;
	text-align: center;
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
#menu_bar .icon {
  display: none;
}



/*party table*/

#partytable tr td {
	width: 400px;
	//border-style: solid;
}

#partytable {
	margin-left: auto;
	margin-right: auto;
}




/*rsvp table and form*/

#rsvptable{
	color: var(--bluedark);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

form {
	text-align: center;
}

input[type="submit"] {
	background-color: var(--bluedark);
	color: var(--goldlight);
	border-style: none;
	font-family: var(--serif);
	font-size: 20px;
	margin: 5px;
	padding: 5px;
}

input[type="text"], input[type="checkbox"] {
	background-color: var(--goldlight);
	color: var(--bluedark);
	border-style: none;
	font-family: var(--serif);
	font-size: 15px;
	margin: 5px;
	padding: 5px;
}

select {
	background-color: var(--goldlight);
	color: var(--bluedark);
	border-style: none;
	font-family: var(--serif);
	font-size: 15px;
	margin: 5px;
	padding: 5px;
}

.rsvpelement {
	width: 100px;
}

#right {
	text-align:right;
	font-weight: bold;
	}
#mobileRSVP {
	display: none;
}

	
	
/* Slideshow container */
.slideshowcontainer {
  width: 60%;
  position: relative;
  margin: auto;
}

.mySlides {
	display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#startslideshow {
	display: block;
}

#ssimage {
	width: 100%;
	height: auto;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--goldlight);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--golddark);
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

}

@media only screen and (max-width: 1120px) {

.menuitem {
	font-size: 22px;
}

}
/*
@media only screen and (max-width: 1000px) {

.menuitem {
	font-size: 20px;
}

}*/